.course-summary {
  margin: 1rem 0;
  display: flex;
}

.course-summary__content {
  padding: 0;
  flex-grow: 1;
  min-width: 20rem;
  max-width: 28rem;
  box-shadow: 5px 5px gray;
  box-shadow: 8px 8px 2px 1px #a7abac;
}

.course-summary__info {
  padding: 1rem;
  text-align: center;
}

.course-summary__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.course-summary__image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
}

.course-summary__info h2,
.course-summary__info h3,
.course-summary__info p {
  margin: 0 0 0.5rem 0;
}

.course-summary__info h2 {
  font-size: 1.2rem;
}

.course-summary__info h3 {
  font-size: 1.0rem;
}

.course-summary__info p {
  font-size: 0.9rem;
}

.course-summary__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.course-summary__modal-content {
  padding: 0;
}

.course-summary__modal-actions {
  text-align: right;
}

.course-summary__actions button,
.course-summary__actions a {
  margin: 0.5rem;
}

.details-container {
  background-color: white;
}

@media (min-width: 768px) {
  .course-summary__image {
    height: 20rem;
  }
}
